.favorite-button {
    background: url('../../assets/favorito_02.svg') no-repeat center center;
    background-size: contain;
    border: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;

    &.--active {
        background-image: url('../../assets/favorito_01.svg');
    }
}