@import "../../../styles/colors";

.character-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.character-card-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-bottom: 5px solid $red;
}

.character-card-title {
  display: flex;
  justify-content: space-between;
}

.character-card-img--skeleton {
  border: 0;
  padding-bottom: 5px;
}

.character-card-name--skeleton {
  width: 40%;
  height: 20px;
}

.character-favorite--skeleton {
  width: 10%;
  height: 20px;
}
