@import "../../../styles/colors.scss";

#character-list-header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.character-list-result {
  flex: 1 1 auto;
  font-size: 20px;
  font-weight: 500;
  color: $gray;
}

@media screen and (max-width: 700px) {
  #character-list-header {
    flex-wrap: wrap;
    gap: 0;
  }

  .character-list-result {
    flex: 1 1 50%;
    order: 1;
  }

  #favorite-toggle {
    flex: 0 1 150px;
    order: 2;
  }

  #sortby {
    order: 3;
    margin-top: 20px;
    width: 100%;
    flex: 1 1 100%;
    justify-content: center;
  }
}
