#page-home {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pagination {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}