@import "./../../styles/colors.scss";

#header {
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: 80px;
  align-items: center;
  padding: 40px 30px;

  &.home {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 30px;
  }
}

.header-logo {
  display: flex;
  text-decoration: none;
  flex: 1 0 auto;
  align-items: center;
  gap: 10px;
}

.header-logo-text {
  text-decoration: none;
  font-weight: 600;
  color: $black;
}

.logo {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 100px;
  mix-blend-mode: darken;
}

.header-text {
  display: none;
}

.home {
  .header-text {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h1 {
      color: $black;
    }
    p {
      color: $gray;
    }
  }

  .header-logo {
    align-items: end;
  }

  .logo {
    width: 220px;
  }

  .header-logo-text {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 700px) {
  #header {
    flex-direction: column;
    gap: 20px;
  }
}
